<div class="container pt-3">
    <h1>Delete {{assignableName}}: {{assignable.name}}</h1>

    <p>Are you sure you want to delete the {{assignableName}}: {{assignable.name}}?</p>

    <hr>

    <form method="post">
        <a class="btn btn-secondary mb-2" href="{{returnUrl}}">Cancel</a>
        <button type="submit" class="btn btn-danger mb-2">Delete</button>
    </form>
</div>
