<div class="container pt-3">
    <h1>Ranks</h1>
    <p>Ranks are sets of permissions given to a user, a user can only have a single rank at a time.</p>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <!--                <th scope="col"></th>-->
                <th scope="col"><i class="fa-solid fa-globe fa-fw"></i>Enjin tag</th>
                <th scope="col"><i class="fa-brands fa-teamspeak fa-fw"></i>Teamspeak group</th>
                <th scope="col"><i class="fa-brands fa-discord fa-fw"></i>Discord role</th>
                {{#hasPermission user 'EDIT_RANKS'}}
                    <th scope="col" class="text-right">Actions</th>
                {{/hasPermission}}
            </tr>
            </thead>
            <tbody>
            {{#each ranks}}
                <tr>
                    <th class="align-middle">{{this.name}}</th>
                    <!--                    <td class="align-middle">-->
                    <!--                        <img width="25px" src="uploads/{{this.image}}" alt="{{this.name}} image" />-->
                    <!--                    </td>-->
                    <td class="align-middle">
                        {{#if this.enjinTag}}
                            {{this.enjinTag.name}} (#{{this.enjinTag.id}})
                        {{else}}
                            None
                        {{/if}}
                    </td>
                    <td class="align-middle">
                        {{#if this.teamspeakRank}}
                            {{this.teamspeakRank.name}} (#{{this.teamspeakRank.id}})
                        {{else}}
                            None
                        {{/if}}
                    </td>
                    <td class="align-middle">
                        {{#if this.discordRank}}
                            ... (#)
                        {{else}}
                            None
                        {{/if}}
                    </td>
                    {{#hasPermission ../user 'EDIT_RANKS'}}
                        <td class="text-right align-middle">
                            <a href="/ranks/edit/{{../this.id}}" class="btn btn-warning">
                                <i class="fa-solid fa-pen fa-fw"></i>
                            </a>
                            <a href="/ranks/delete/{{../this.id}}" class="btn btn-danger">
                                <i class="fa-solid fa-trash fa-fw"></i>
                            </a>
                        </td>
                    {{/hasPermission}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    {{#hasPermission user 'EDIT_RANKS'}}
        <a href="/ranks/create" class="btn btn-primary">Create Rank</a>
    {{/hasPermission}}

</div>
