<div class="container-fluid pt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Users ({{users.length}})</h1>
        <input id="user-search" type="text" class="form-control w-auto" placeholder="Search">
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <i class="fa-brands fa-discord"></i>
                        Name
                    </th>
                    <th scope="col">
                        <i class="fa-solid fa-globe"></i>
                        Name
                    </th>
                    <th scope="col">
                        <i class="fa-brands fa-teamspeak"></i>
                        Name
                    </th>
                    <th scope="col">Rank</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Badges</th>
                    {{#hasPermission user 'EDIT_USER_RANK'}}
                    <th scope="col" class="text-right">Actions</th>
                    {{/hasPermission}}
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                {{#if this.discordUser}}
                <tr>
                    <td class="align-middle user-name font-weight-bold">{{this.name}}</td>
                    <td class="align-middle font-weight-bold">
                        {{#with (lookup ../enjinUsers this.enjinUser)}}
                        {{this.username}}
                        {{/with}}
                    </td>
                    <td class="align-middle font-weight-bold">{{this.ts3User.nickname}}</td>
                    <td class="align-middle">
                        {{this.rank.name}}
                    </td>
                    <td class="align-middle">
                        {{#each this.roles}}
                        {{this.name}}{{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>
                    <td class="align-middle">
                        {{#each this.badges}}
                        {{this.name}}{{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>
                    {{#hasPermission ../user 'EDIT_USER_RANK'}}
                    <td class="text-right align-middle">
                        <a href="/users/sync/{{../this.id}}" class="btn btn-info"
                            title="Fetch ranks, roles and badges from Enjin and sync to other platforms if possible">
                            <i class="fa-solid fa-sync fa-fw"></i>
                        </a>
                        <a href="/users/edit/{{../this.id}}" class="btn btn-warning">
                            <i class="fa-solid fa-pen fa-fw"></i>
                        </a>
                        <a href="/users/delete/{{../this.id}}" class="btn btn-danger">
                            <i class="fa-solid fa-user-slash fa-fw"></i>
                        </a>
                    </td>
                    {{/hasPermission}}
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    const searchField = document.getElementById('user-search');
    searchField.addEventListener('keyup', (e) => {
        const search = e.target.value.toLowerCase();
        const rows = document.querySelectorAll('tbody tr');
        rows.forEach((row) => {
            const name = row.querySelector('.user-name').innerText.toLowerCase();
            row.style.display = name.includes(search) ? 'table-row' : 'none';
        });
    });
</script>
