<div class="container pt-3">
    <h1>Link new user</h1>

    <p>Create a new link between Discord and Teamspeak.</p>

    <form method="post">
        <div class="form-group mb-3">
            <label class="form-label" for="discordUser-input"><i class="fa-brands fa-discord"></i> Discord user</label>
            <select class="form-control" id="discordUser-input" name="discordUser" required>
                <option value="">None</option>
                {{#each discordUsers}}
                    <option value="{{this.user.id}}">
                        {{this.user.username}} #{{this.user.discriminator}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="ts3User-input"><i class="fa-brands fa-teamspeak"></i> Teamspeak user</label>
            <select class="form-control" id="ts3User-input" name="ts3User" required>
                <option value="">None</option>
                {{#each ts3Users}}
                    <option value="{{this.id}}">
                        {{this.nickname}} ({{this.id}})
                    </option>
                {{/each}}
            </select>
        </div>
        <a class="btn btn-secondary mb-2" href="/users">Cancel</a>
        <button type="submit" class="btn btn-info mb-2">Link</button>
    </form>
</div>
